<div class="content">
	<h1>About Us</h1>
	<h3>Hi! We're a super sweet bike store located in Anytown, USA.</h3>
	<h5>If you've been biking since you were two, raced in college or are just getting started, we'd love to help you out!</h5>
	<p>Each staff rotation includes an employee that fits each of these scenarios, so we're ready to help!</p>


<!-- CONTACT SECTION -->        
	<section class="anchor" id="contact">
		<div class="jumbotron">
			<div class="container-fluid" >
				<h2>Want to get in touch?</h2>
			</div><!--end container-->
		</div><!--end jumbotron-->
	</section><!--end anchor-->
	<section class="col-md-6 contact-information">
		<h2><span class="glyphicon glyphicon-envelope"></span> Email</h2>
		<p class="contact-content">help@bikes-by-laura.com</p>
	</section>
	<section class="col-md-6 contact-information">
		<h2><span class="glyphicon glyphicon-earphone"></span> Call</h2>
		<p class="contact-content">123-456-7890</p>
  </section>  
</div>
