<div class="content">
	<h1>Welcome to our Blog</h1>
	<p>We are a super interesting bike store - in fact, so much more than a bike store! So we hope you check out our <%= link_to "blog posts", articles_path, class: "h3" %> to be enlightened.</p>
	<hr>
	<h3>Thanks for stopping by!</h3>
	<h4>If you're ready to buy a bike, pop over to our <a target="_blank" href="https://bikes-by-laura.herokuapp.com/products">'buy a bike'</a> page.</h4>
	<h4>Want to know more about us? <%= link_to "Click here!", static_pages_about_path %></h4>
</div>