<table class="table=responsive">
  <tbody>
    <tr>
      <td><h2>Welcome!</h2></td>
    </tr>
    <tr>
      <td>
      	<p>Thank you for signing up with <%= @appname %>!</p>
      	<p>You'll now be able to help us create and edit our blog posts.</p>
      </td>
    </tr>
    <tr>
      <td><p><strong>The <%= @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>