<div class="content">
	<h1>Editing The Blog</h1>

	<%= render 'form' %>
	<hr>
	<%= link_to 'View the Blog', @article, class: "btn btn-forms" %> |
	<%= link_to 'Back', articles_path, class: "btn btn-forms"  %>
</div>
